@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b9iou3');
  src:  url('fonts/icomoon.eot?b9iou3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b9iou3') format('truetype'),
    url('fonts/icomoon.woff?b9iou3') format('woff'),
    url('fonts/icomoon.svg?b9iou3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-php:before {
  content: "\e90a";
}
.icon-aem:before {
  content: "\e906";
}
.icon-adobe-comm:before {
  content: "\e908";
}
.icon-figma-svgrepo-com:before {
  content: "\e91b";
}
.icon-javascript-new:before {
  content: "\e91c";
}
.icon-styled-components:before {
  content: "\e91d";
}
.icon-gitlab:before {
  content: "\e91e";
}
.icon-bitbucket:before {
  content: "\e905";
}
.icon-react:before {
  content: "\e900";
}
.icon-pencil-ruler:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e901";
}
.icon-jest:before {
  content: "\e902";
}
.icon-less:before {
  content: "\e903";
}
.icon-scrum:before {
  content: "\e904";
}
.icon-sass:before {
  content: "\e907";
}
.icon-next-js:before {
  content: "\e90b";
}
.icon-copyright:before {
  content: "\e90c";
}
.icon-love:before {
  content: "\e90d";
}
.icon-paint-roller:before {
  content: "\e90e";
}
.icon-world:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-jira:before {
  content: "\e911";
}
.icon-javascript:before {
  content: "\e912";
}
.icon-git:before {
  content: "\e913";
}
.icon-typescript:before {
  content: "\e914";
}
.icon-figma:before {
  content: "\e915";
}
.icon-nodejs:before {
  content: "\e916";
}
